
.hamburger {
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
}

.hamburger-middle {
    transform: translateY(5px);
}

.hamburger-bottom {
    transform: translateY(10px);
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all .5s;
}

/*  Ovelay dark container   */
.stop-scrolling {
    overflow: hidden;
}

.overlay-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
}



/* Transition Hamburger to X when open  */
.open {
    transform: rotate(90deg);
}
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);

}
.open .hamburger-middle {
    display: none;
}
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}


/* Mobile Menu Only  */
.mobile-only {
    display: none;
}